<!--
  Generated template for the ComprasUsuariosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="centralizado" style=" padding-right: 15%">Compras Usuários</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="compras" style="border-top: 2px solid;">
    <ion-segment-button value="EmDebito" class="segment-style">
      Em Débito
    </ion-segment-button>
    <ion-segment-button value="Pagas" class="segment-style">
      Pago
    </ion-segment-button>
  </ion-segment>  
</ion-header>


<ion-content padding>
    <ion-searchbar (ionInput)="getItem($event, false)" animated = "true" placeholder="Procurar Email"></ion-searchbar>
    <ion-searchbar *ngIf="isSearching" (ionInput)="getItem($event, true)" animated = "true" placeholder="Procurar Número"></ion-searchbar>
  <div [ngSwitch]="compras">
    <ion-list *ngSwitchCase="'EmDebito'">
        <ion-spinner class="my-spinner" *ngIf="gettingInDebt"></ion-spinner>
      <button ion-button round full icon-left style="font-size: 15px" large [ngClass]="{'side-menu-buttom-remove': listShowHojeDebt, 'side-menu-buttom-add': !listShowHojeDebt}"
        (click)="listShowHojeDebt = !listShowHojeDebt">
        <ion-icon name="{{ listShowHojeDebt ? 'remove' : 'add'}}"></ion-icon>
        <div style="font-size: 20px"> Hoje </div>
      </button>     
      <ion-item *ngIf="listShowHojeDebt">
        <ion-list *ngFor="let comprasHoje of todayListDebt">
          <pedido-bar [pedidosData]="comprasHoje?.comprasHoje" [toPaidButtonEnab]="true" [nameEmailEnable]="true" [userEmail]="comprasHoje?.email" [userName]="comprasHoje?.nome" [userUid]="comprasHoje?.userUid" (paymentConfirmer)="payConfirmed($event)">
          </pedido-bar>
        </ion-list>
      </ion-item>
      <br>
      <button ion-button round full icon-left style="font-size: 15px" large [ngClass]="{'side-menu-buttom-remove': listShowVelhoDebt, 'side-menu-buttom-add': !listShowVelhoDebt}"
        (click)="listShowVelhoDebt = !listShowVelhoDebt">
        <ion-icon name="{{ listShowVelhoDebt ? 'remove' : 'add'}}"></ion-icon>
        <div style="font-size: 20px"> Velho </div>
      </button>
      <ion-item *ngIf="listShowVelhoDebt">
        <ion-list *ngFor="let comprasNaoHoje of notTodayListDebt">
          <pedido-bar [pedidosData]="comprasNaoHoje?.comprasHoje" [toPaidButtonEnab]="true" [nameEmailEnable]="true" [userEmail]="comprasNaoHoje?.email" [userName]="comprasNaoHoje?.nome" [userUid]="comprasNaoHoje?.userUid" (paymentConfirmer)="payConfirmed($event)">
          </pedido-bar>
        </ion-list>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Pagas'">
        <ion-spinner class="my-spinner" *ngIf="gettingPaid"></ion-spinner>
        <button ion-button round full icon-left style="font-size: 15px" large [ngClass]="{'side-menu-buttom-remove': listShowHojePaid, 'side-menu-buttom-add': !listShowHojePaid}"
        (click)="listShowHojePaid = !listShowHojePaid">
        <ion-icon name="{{ listShowHojePaid ? 'remove' : 'add'}}"></ion-icon>
        <div style="font-size: 20px"> Hoje </div>
      </button>
      <ion-item *ngIf="listShowHojePaid">
        <ion-list *ngFor="let comprasHoje of todayListPaid">
          <pedido-bar [pedidosData]="comprasHoje?.comprasHoje" [nameEmailEnable]="true" [userEmail]="comprasHoje?.email" [userName]="comprasHoje?.nome" (paymentConfirmer)="payConfirmed($event)" [isPaid]="true">
          </pedido-bar>
        </ion-list>
      </ion-item>
      <br>
      <button ion-button round full icon-left style="font-size: 15px" large [ngClass]="{'side-menu-buttom-remove': listShowVelhoPaid, 'side-menu-buttom-add': !listShowVelhoPaid}"
        (click)="listShowVelhoPaid = !listShowVelhoPaid">
        <ion-icon name="{{ listShowVelhoPaid ? 'remove' : 'add'}}"></ion-icon>
        <div style="font-size: 20px"> Velho </div>
      </button>
      <ion-item *ngIf="listShowVelhoPaid">
        <ion-list *ngFor="let comprasNaoHoje of notTodayListPaid">
          <pedido-bar [pedidosData]="comprasNaoHoje?.comprasHoje" [nameEmailEnable]="true" [userEmail]="comprasNaoHoje?.email" [userName]="comprasNaoHoje?.nome" (paymentConfirmer)="payConfirmed($event)" [isPaid]="true">
          </pedido-bar>
        </ion-list>
      </ion-item>     
    </ion-list>
  </div>
</ion-content>