<div class="item-pedido-style-border">
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <div style="font-size: 20px; font-weight: bold; color: #bb5501" text-wrap>#{{pedidosData?.nome}}</div>
        <div *ngIf="nameEmailEnable" class="cartname-style" text-wrap>{{userName}}, {{userEmail}} </div>
        <div class="cartname-style" text-wrap>Hora:
          <span class="cartdesc-style">{{pedidosData?.horaCompra}}</span>
        </div>
        <div class="cartname-style" text-wrap *ngIf="entrega">Entrega:
          <span class="cartdesc-style">{{entregaStringPri}}</span>
          <div class="cartdesc-style">{{pedidosData?.entrega?.endereco}}</div>
          <div class="cartdesc-style">{{entregaStringSec}}</div>
        </div>
        <div class="cartname-style">Total:
          <span style="font-weight: bold; font-size: 17px;" [ngStyle]="{'color': isPaid ? 'green' : 'blue'}">{{pedidosData?.precoTotal | currency:'BRL':symbol:'.2-2'}}</span>
        </div>
      </ion-col>
      <ion-col col-2>
        <div>
          <ion-buttons right>
            <button ion-button icon-only small [ngClass]="{'side-menu-buttom-remove': showBar, 'side-menu-buttom-add': !showBar}" (click)="showBar = !showBar; listShow = showBar">
              <ion-icon name="{{ showBar ? 'remove' : 'add'}}"></ion-icon>
            </button>
          </ion-buttons>
        </div>
        <div *ngIf="toPaidButtonEnab" style="position: absolute;  bottom: 0;">
          <ion-buttons right>
            <button ion-button icon-only small (click) = "confirmPayment()" >
              <ion-icon name="checkmark"></ion-icon>
            </button>
          </ion-buttons>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-list *ngFor="let produtosComprados of pedidosData.consumo">
  <ion-item class="item-pedido-style" *ngIf="listShow">
    <div class="cartname-style" text-wrap>{{produtosComprados?.quantidade}}x (#{{produtosComprados?.id}}) {{produtosComprados?.nome}}:
      <span class="cartdesc-style">{{produtosComprados?.desc}}</span>
    </div>
    <div style="font-size: 17px;  font-weight: bold" text-wrap>Observações:
      <span class="cartdesc-style">{{produtosComprados?.obs}}</span>
    </div>
    <div text-wrap>
      <b style="font-size: 17px;  font-weight: bold">Preço:</b>
      <span class="cartdesc-style">
        Unidade: {{produtosComprados?.precobase| currency:'BRL':symbol:'.2-2'}} - Total:
      </span>
      <span class="cartdesc-style" style="color:blue">{{produtosComprados?.preco| currency:'BRL':symbol:'.2-2'}}</span>
    </div>
  </ion-item>
</ion-list>