  button {
    ion-badge {
      position: absolute;
      top: -0.2rem;
      right: -0.2rem;
      opacity: 0.9;
      background-color:  #da8a00 !important;
      & ~ ion-icon {
        margin-right: 1.2rem;
      }
    }
  }

  .segment-style{    
    color: #da8a00 !important;
    height: 4.2rem !important;
    line-height: 4.2rem !important;
    font-size: large !important;
    font-weight: bold !important;
    border-bottom-width: 3px !important; 
  }
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #da8a00;
    opacity: 1;
   }