.centralizado {
    text-align: center;
}

.toolbar-background {
    background-color: #eebd19e3 !important;
    
}

.background-imagem {
    background: url("../assets/imgs/background-beer.jpg") center;
    background-size: cover;
}

.background-input {
    background: transparent !important;
    color: white !important;
    border-top: none !important    
}

.toolbar-title {
    color: white !important;
}

