.tabs-ios .tabbar {    
    background: #eebd19e3;
    justify-content: stretch;
}

.tabs-ios .tab-button-icon {   
    margin: 5px;
    color: white !important;
    margin-left: 70px;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
       
    color: #000000 !important;
    
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-text {
    color: #000000 !important;

}

.tabs-ios .tab-button {
    font-size: 20px;
    color: white !important;
    display: contents;    
}
