.tabs-ios .tabbar {    
    background: #eebd19; //eebd19e3
}

.tabs-md .tabbar {    
    background: #eebd19;   
}

.tabs-ios .tab-button-icon {   
   color: white !important;   
}

.tabs-md .tab-button-icon {   
   color: white !important;   
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {       
    color: #000000 !important;    
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {    
 color: #000000 !important; 
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-text {
    color: #000000 !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-text {
    color: #000000 !important;
}

.tabs-ios .tab-button {   
    color: white !important;
}

.tabs-md .tab-button {  
    color: white !important;
}

