.side-menu-buttom-add{   
    background-color: #216f17;
   // height: 19px !important;
    font-size: 11px !important;
   // margin-bottom: -2px !important;
}
.side-menu-buttom-remove{   
    background-color: #da0000; 
 //   height: 19px !important;   
    font-size: 11px !important;
   // margin-bottom: -2px !important;
}
.cartname-style{
    color: black;
    font-weight: bold !important;   
    font-size: 17px; 
   // text-align: center;
}

.cartdesc-style{
    font-weight: normal !important;
    font-size: 15px;
}
