<ion-header>
  <ion-navbar>
    <ion-title class="centralizado">
      Registrar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-imagem">

  <ion-grid style="margin-top: 10%">

    <ion-row>
      <ion-col col-9 offset-3>

        <form id="signupForm" #form="ngForm" class="form-style" novalidate>
          
          <ion-list no-lines >

            <ion-item class="background-input">
              <ion-label floating>Nome</ion-label>
              <ion-input name="nome" [(ngModel)]="user.name" type="text" #name="ngModel" required class="input-style"></ion-input>
            </ion-item>
            <ion-item *ngIf="name.errors?.required && (name.dirty || name.touched)" class="error-text-style">
              O campo é obrigatório.
            </ion-item>


            <ion-item class="background-input">
              <ion-label floating>Email</ion-label>
              <ion-input name="email" [(ngModel)]="user.email" type="text" #email="ngModel" required [pattern]="patternEmail" class="input-style"></ion-input>
            </ion-item>
            <ion-item *ngIf="email.errors?.required && (email.dirty || email.touched)" class="error-text-style">
              O campo é obrigatório.
            </ion-item>
            <ion-item *ngIf="email.errors?.pattern && (email.dirty || email.touched)" class="error-text-style">
              Email inválido.
            </ion-item>

            <ion-item class="background-input">
              <ion-label floating>Senha</ion-label>
              <ion-input name="password" [(ngModel)]="user.password" type="password" #password="ngModel" required minlength="6" class="input-style"></ion-input>
            </ion-item>

            <ion-item *ngIf="password.errors?.required && (password.dirty || password.touched)" class="error-text-style">
              O campo é obrigatório.
            </ion-item>
            <ion-item *ngIf="password.errors?.minlength && (password.dirty || password.touched)" class="error-text-style">
              Mínimo de 6 caracteres.
            </ion-item>

            <ion-item class="background-input">
              <ion-label floating>Confirme Senha</ion-label>
              <ion-input name="confirmpassword" [(ngModel)]="confirmSenha" type="password" class="input-style"></ion-input>
            </ion-item>

          </ion-list>
        </form>

          <button (click)="createAccount()" ion-button full icon-left style="background:#eebd19" >
            <ion-icon name="arrow-dropup"></ion-icon>
            <div>
              Registrar
            </div>
          </button>
       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center">UFJF 2018</ion-title>
  </ion-toolbar>
</ion-footer>