<!--
  Generated template for the CarrinhoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="border-bottom: 2px solid;">
  <ion-navbar>
    <ion-title class="centralizado" style=" padding-right: 15%">Carrinho</ion-title>
  </ion-navbar> 
</ion-header>


<ion-content style="padding: 1%">
    <ion-grid style="border-top: 2px solid; border-bottom: 2px solid">
        <ion-row >
          <ion-col col-2>        
              <div class="centralizado"><b>ID</b></div>          
          </ion-col>
          <ion-col col-7>
              <div class="centralizado"><b>PRODUTO/OBSERVAÇÕES</b></div>           
          </ion-col>
          <ion-col col-3>
              <div class="centralizado"v><b>QTD/PREÇO</b></div>           
          </ion-col>     
        </ion-row>
      </ion-grid>
  <ion-list  *ngFor="let prodUser of userCartProd">
    <cart-bar [prodCart]="prodUser" (removeItem)="removeItem($event)" (onQuantidadeChange)="quantityChange($event)">
    </cart-bar>
  </ion-list>  
  <ion-item>
      <ion-label class="label-style">Entregar</ion-label>
      <ion-toggle [(ngModel)]="entregar"></ion-toggle>
    </ion-item>
  <ion-list no-lines *ngIf="entregar">
      <p class="subtitle fancy">
          <span>Informações da Entrega</span>
        </p>
    <form id="entregarInfo" #form="ngForm" novalidate>
      <ion-item class=" input-border">
        <ion-label class="input-label-style">Nome: </ion-label>
        <ion-input name="nome" [(ngModel)]="entregarInfo.nome" type="text" #nome="ngModel" required ></ion-input>
      </ion-item>
      <ion-item *ngIf="nome?.errors?.required && (nome.dirty || nome.touched)" class="error-text-style">
        O campo é obrigatório.
      </ion-item>      
      <ion-item class="input-border">
          <ion-label class="input-label-style">Telefone: </ion-label>
          <ion-input name="telefone" [(ngModel)]="entregarInfo.telefone" type="tel" [pattern]="telPattern" #telefone="ngModel"
          placeholder="(XX)XXXX-XXXX" required></ion-input>
        </ion-item>
        <ion-item *ngIf="telefone?.errors?.required && (telefone.dirty || telefone.touched)" class="error-text-style">
          O campo é obrigatório.
        </ion-item>
        <ion-item *ngIf="telefone?.errors?.pattern && (telefone.dirty || telefone.touched)" class="error-text-style">
          Telefone inválido.
        </ion-item>
      <ion-item class="input-border">
          <ion-label class="input-label-style">Endereço: </ion-label>
          <ion-textarea name="endereco" [(ngModel)]="entregarInfo.endereco" type="text" #endereco="ngModel" required></ion-textarea>
        </ion-item>
        <ion-item *ngIf="endereco?.errors?.required && (endereco.dirty || endereco.touched)" class="error-text-style">
          O campo é obrigatório.
        </ion-item>     
      <ion-item class=" input-border">
          <ion-label class="input-label-style">Observações: </ion-label>
          <ion-textarea name="obs" [(ngModel)]="entregarInfo.obs" type="text"></ion-textarea>
        </ion-item>   
        <br>     
    </form>
  </ion-list>   
</ion-content>

<ion-footer>   
    <div style="font-size: 17px;  font-weight: bold; text-align: center; border-top: 2px solid;" text-wrap>Total:
        <span style="font-size: 17px;  font-weight: bold; text-align: center; color: blue">{{precoTotal | currency:'BRL':symbol:'.2-2'}}</span>
        </div>
  <button ion-button large full round (click)="finalizarCompra()" class="button-style">
    <div>
      Finalizar Compra
    </div>
  </button>
</ion-footer>